@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: url(https://caiotadashi.github.io/peekaboo/img/bg.png);
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.emoji {
    font-size: 12rem;
    cursor: pointer;
    user-select: none;
}

.hidden {
    display: none;
}

.boo {
    display: none;
}

.active {
    display: contents;
}

.footer {
    font-size: .75rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}